@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* table_body */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    /* padding-top: 4rem; */
    

    /* border-style: dotted; */

}
#search_ele{
    width: 500px;
    height: 57px;
    border-radius: 10px;
    margin-top: 5px;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 90rem; */
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    /* height: 11.0625rem; */
    height: 100px;
    /* flex-shrink: 0; */

}
.combination{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    width: 1100px;
}
/* .navbutton{
    display: flex;
    gap: 300px;
} */
#errorMsg,#ParenterrorMsg,#ChilderrorMsg{
    color: red;
    display: none;
}
.logoheadding {
    color: var(--primary-100, #A5823C);
    text-align: center;
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#col_text {
    color: var(--dark-100, #24282C);
    font-family: 'Manrope', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.navlist {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 48px;

}

ul {
    list-style: none;
}

#Home_list {
    color: var(--primary-100, #A5823C);

    /* web/Font-6/bold */
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

li {
    color: var(--grey-100, #878787);

    /* web/Font-6/medium */
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.navbutton {
    display: flex;
    width: 220px;
    height: 70px;
    padding: 1.5rem 2rem;
    justify-content: center;
    border: none;
    align-items: center;
    /* flex-shrink: 0; */
    background: var(--primary-100, #A5823C);
}

#button_text {
    color: var(--background-light-100, #FFF);
    text-align: center;

    /* web/Font-6/semibold */
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
#Search_button,#Clear_button{
    /* padding: 25px 25px 25px 25px; */
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 15px;
    border: none;
    font-size: 25px;

}
#Task_name{
    font-size: 2em;
    font-weight: 700;
    margin-right: 8rem;
}
.Topele{
    display: flex;

}
#task_text{
    color: rgb(207, 81, 81);
    display: none;
}
.data_table,tr {
    border: 2px solid black;
    border-collapse: collapse;
  }

  .searchdata,tr{
    border: 2px solid black;
    border-collapse: collapse;
  }
  #add_taskbutton{
    border: none;
    background: none;
    color: rgb(129, 96, 160);
  }
  #edit_taskbutton{
    border: none;
    background: none;
    
  }
  #buttons_crud{
    display: flex;
    gap: 8px;
  }
  #delete_taskbutton{
    border: none;
    background: none;
    color: rgb(197, 70, 70);
    
  }
  tr{
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 2px;
    padding-right: 8px;
  }
.Topele input[type=text] {
    /* float: right; */
    padding: 6px;
    /* border: none; */
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  #tablerow{
    margin-top: 20px;
  }
#subtasklist{
    color: rgb(238, 174, 56);
}
.formcontainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: start;
    margin: auto;
    justify-content: center;
    width: 50%;
    padding-top: 1.2rem;

    /* border: 3px solid */
    /* border-style: dotted; */
}
#edit_parent_form{
    display: none;
}
#text_margin{
    margin-left: 113px;
}
#start_margin{
    margin-left: 106px;
}
#end_margin{
    margin-left: 52px;  
}

#edit_child_form{
    display: none;

}

#task_text {
    text-align: start;
    font-weight: 700;
}

.form_info_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: start;
    /* margin: auto; */
    justify-content: center;
    gap: 1.2rem;
    padding-top: 1.2rem;
    /* border: 3px solid */
}

#Task_id,#Parent_id,#Child_id {
    width: 80%;
    height: 60px;
    /* top: 30px; */
    border-radius: 5px;
    font-size: 1.5rem;
    /* display: none; */
    /* border: 15px */
}

input,select {
    outline: none;
    margin-top: -0.5rem;
    padding: 0 10px;
    color: #5c5252;
    /* border-width: 3px; */
    border: 3px solid #E8E8E8
}

label {
    font-size: 1.3rem;
    font-weight: 500;
}

#Task_title,#Parent_Task_title,#Child_Task_title {
    width: 80%;
    height: 60px;
    /* top: 30px; */
    border-radius: 5px;
    font-size: 1.5rem;
    /* margin-top: -0.5rem; */
}

#Task_startdate,#Parent_Task_startdate,#Child_Task_startdate {
    width: 80%;
    height: 60px;
    /* top: 30px; */
    border-radius: 5px;
    font-size: 1.5rem;
}

#Task_enddate,#Parent_Task_enddate,#Child_Task_enddate {
    width: 80%;
    height: 60px;
    /* top: 30px; */
    border-radius: 5px;
    font-size: 1.5rem;
}
#task_status{
    width: 80%;
    height: 60px;
    /* top: 30px; */
    border-radius: 5px;
    font-size: 1.5rem;
}

#In-Progress,#Progress{
    color: rgb(127, 127, 207);
}
#completed{
    color: rgb(75, 199, 75);
}
#duepassed{
    color: pink;
}
#cancal{
    color: rgb(202, 76, 76);
}

#add_task {
    width: 30%;
    height: 3.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}
.data_table,.searchdata{
    margin: auto;
    width: 85%;
    margin-top: 2rem;
}
.table_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
thead{
    height: 3rem;
    text-align: center;
    display: flex;
    padding: 0 15px;
}
#Childtitle{
    display: none;
}
#parenttitle{
    display: block;
}

th,td{
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
     text-align: center;
    font-weight: 500;
}
td{
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
     text-align: center;
    font-weight: 500;
}

.table_body{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    /* text-align: center; */
    align-content: center;
    /* margin-top: 10px; */
    align-items: center;
    height: 3rem;
}
#search_body{
    display: none;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    /* text-align: center; */
    align-content: center;
    /* margin-top: 10px; */
    align-items: center;
    height: 3rem;
}

#tp{
    border: 1px solid black;
    height: 3rem;
    border-collapse: collapse;

}

tr{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
}
 thead {
    border: 1px solid black;
    /* border-collapse:; */
    border-collapse: collapse;
  } 


  #butstyle{
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
  }

  